<%= provide :title, "Categories" %>
<h1 class="page-header">
  Categories
  <%= link_to "Create New Category", new_admin_category_path, class: "btn btn-success action-btns" %>
</h1>
<class class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Categories</th>
          <th>Descriptions</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <%= render @categories %>
    </table>

  </div>
</class>