<hr>
<footer>
  <div class="row">
    <div class="col-lg-12">
      <span>&copy; 2015 Feel Good, Inc. All rights reserved.</span>
    </div>
  </div>
</footer>

<!-- Bootstrap3 Form: Add has-error class to form-group with validation error -->
<%= javascript_tag "$('.field_with_errors').parent().addClass('has-error');" %>